
.t1{
    background-color: black;
}


  
    
  
  .BACK {
    /* The image used */
    background-image: linear-gradient(to right, rgba(83, 76, 97, 0.322), rgb(46, 50, 65));
    background-size: cover;
  
    /* Control the height of the image */
    
  
    /* Center and scale the image nicely */
   opacity: 1;
    
  }
  
  /* Add styles to the form container */
  .container {
    
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color:none;
    opacity: 1;
  }
  
  /* Full-width input fields */
    input[type=text], input[type=password] ,input[type=number], input[type=time]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #dddada;
  }
  
  input[type=text]:focus, input[type=password]:focus,input[type=number]:focus,input[type=time]:focus {
    background-color: lightblue;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }