.datestring {
    margin-left:  auto;
    margin-right:  auto;
    display: inline-block;
    color: red;
}

.bookbutton {
    background: lightgray;
    margin-left:  auto;
    margin-right:  auto;
    height: 40px;
}

.notbookbutton {
    background: white;
    margin-left:  auto;
    margin-right:  auto;
    height: 40px;
}

.infobook {
    position:absolute;
    top: 55%;
    left: 75%;
    background: lightgray;
    height: 40px;
    width: 90px;
}

.infonotbook {
    position:absolute;
    top: 45%;
    left: 75%;
    background: white;
    height: 40px;
}